.block{
    display: flex;
}
.block1{
    width: 40vw;
    height: 40vh;
    background-color: rgb(255, 217, 0);
}
.block2{
    width: 40vw;
    height: 40vh;
    background-color: aquamarine;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
.block{
    flex-direction: column;
}
.block1{
    width: 100vw;
    text-align: center;
}
.block2{
    width: 100vw;
    text-align: center;
}    
}
