*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-image: url(./img/icons8-instagram-100-2.png);
    width: 35px;
    height: 35px;
}
div:hover{
    background-image: url(./img/icons8-instagram-100-2.png);
}