*{
    margin: 0;
    padding: 0;
    background-size: border-box;
}
body{
    background-color: azure;
}
.menu{
    width: 100vw;
    height: 70px;
    background-color: rgb(248, 122, 18);
    color: black;
}
li{
    display: inline;
    margin: 0 250px;
}
a{
    color: rgb(10, 8, 4);
    text-decoration: none;
    font-size: 27px;
}
ul{
    padding: 25px;
}
a:hover{
    color: rgb(77, 42, 42);
}
.card{
    width: 300px;
    height: 500px;
    background-color: rgb(248, 122, 18);
    border-radius: 5%;
    padding: 25px 15px;
    color: #fff;
    margin: 100px 150px;
    float: left;
    transition: 0.5s;
    border: 2px solid black;
}
.card:hover{
    background-color: #fff;
    color: rgb(17, 10, 8);
    border: 2px solid ;
    transform: scale(1.1);
    transition: 0.5s;
}
h1,
.price{
    text-align: center;
    border: 2px solid black;
    color: black;
}
p{
    text-align: justify;
    margin: 30px 0;
    font-size: 19px;
    color: black;
}
.vacation, .menu{
    display: block;
}
.footer{
    width: 100vw;
    height: 150px;
    background-color: rgb(248, 122, 18);
    margin-top: 50%;
    background-image: url(./img/images.png);
}
.nasvai{
    text-align: center;
    margin-left: 70px;
}
