.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 300px);
}
.grid__items{
    border: 2px solid;
}
.grid2{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
}