body{
    background-color: #f3f4f5;
}
.size{
    font-size: 180px;
}
.player{
    font-weight: 100;
    font-size: 100px;
}
.red{
    color: #8B0000;
    background-color: #d3d3d3;
    
}
.black{
    background-color: #d3d3d3;
}