div{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
p{
    color: beige;
    padding-right: 5px;
}
.div1{
    background-color: cadetblue;
    display: inline-block;
}
.div2{
    background-color: blueviolet;
    display: inline-block;
}
.div3{
    background-color: r;

}
.div4{

}
